*{
  margin: 0px;
  padding: 0px;
}
.foodList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.foodBox {
  border: 2px solid maroon;
  text-align: center;
  padding: .5vw;
  margin: 1vw;
}
.foodBox > h1 {
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 1.5vw;
}
.foodBox > p {
  font-size: 1.3vw;
}